draw_config:
  key_w: 60.0
  key_h: 56.0
  split_gap: 30.0
  combo_w: 28.0
  combo_h: 26.0
  key_rx: 6.0
  key_ry: 6.0
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 56.0
  line_spacing: 1.2
  arc_radius: 6.0
  append_colon_to_layer_header: true
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0
    rel_y: 4
    rel_w: 12
    rel_h: 12
    rx: 4
    ry: 4

# #9FEDE7
# #B897E9
# #FFD2CF
# #FEF0AC

  svg_extra_style: '
    g .key.keypos-0 > rect.key { fill: #9FEDE7; }
    g .key.keypos-1 > rect.key { fill: #FEF0AC; }
    g .key.keypos-2 > rect.key { fill: #FEF0AC; }
    g .key.keypos-3 > rect.key { fill: #FEF0AC; }
    g .key.keypos-4 > rect.key { fill: #FEF0AC; }
    g .key.keypos-5 > rect.key { fill: #B897E9; }
    g .key.keypos-6 > rect.key { fill: #B897E9; }
    g .key.keypos-7 > rect.key { fill: #FEF0AC; }
    g .key.keypos-8 > rect.key { fill: #FEF0AC; }
    g .key.keypos-9 > rect.key { fill: #FEF0AC; }
    g .key.keypos-10 > rect.key { fill: #FEF0AC; }
    g .key.keypos-11 > rect.key { fill: #9FEDE7; }
    g .key.keypos-12 > rect.key { fill: #9FEDE7; }
    g .key.keypos-13 > rect.key { fill: #FEF0AC; }
    g .key.keypos-14 > rect.key { fill: #FEF0AC; }
    g .key.keypos-15 > rect.key { fill: #FEF0AC; }
    g .key.keypos-16 > rect.key { fill: #FEF0AC; }
    g .key.keypos-17 > rect.key { fill: #B897E9; }
    g .key.keypos-18 > rect.key { fill: #B897E9; }
    g .key.keypos-19 > rect.key { fill: #FEF0AC; }
    g .key.keypos-20 > rect.key { fill: #FEF0AC; }
    g .key.keypos-21 > rect.key { fill: #FEF0AC; }
    g .key.keypos-22 > rect.key { fill: #FEF0AC; }
    g .key.keypos-23 > rect.key { fill: #9FEDE7; }
    g .key.keypos-24 > rect.key { fill: #9FEDE7; }
    g .key.keypos-25 > rect.key { fill: #FEF0AC; }
    g .key.keypos-26 > rect.key { fill: #FEF0AC; }
    g .key.keypos-27 > rect.key { fill: #FEF0AC; }
    g .key.keypos-28 > rect.key { fill: #FEF0AC; }
    g .key.keypos-29 > rect.key { fill: #B897E9; }
    g .key.keypos-30 > rect.key { fill: #B897E9; }
    g .key.keypos-31 > rect.key { fill: #FEF0AC; }
    g .key.keypos-32 > rect.key { fill: #FEF0AC; }
    g .key.keypos-33 > rect.key { fill: #FEF0AC; }
    g .key.keypos-34 > rect.key { fill: #FEF0AC; }
    g .key.keypos-35 > rect.key { fill: #9FEDE7; }
    g .key.keypos-36 > rect.key { fill: #9FEDE7; }
    g .key.keypos-36 > rect.key.held { stroke: #4bddd2; stroke-width: 3;}
    g .key.keypos-37 > rect.key { fill: #B897E9; }
    g .key.keypos-37 > rect.key.held { stroke: #8147d8; stroke-width: 3;}
    g .key.keypos-38 > rect.key { fill: #FFD2CF; }
    g .key.keypos-38 > rect.key.held { stroke: #ff655b; stroke-width: 3;}
    g .key.keypos-39 > rect.key { fill: #FFD2CF; }
    g .key.keypos-39 > rect.key.held { stroke: #ff655b; stroke-width: 3;}
    g .key.keypos-40 > rect.key { fill: #9FEDE7; }
    g .key.keypos-40 > rect.key.held { stroke: #4bddd2; stroke-width: 3;}
    g .key.keypos-41 > rect.key { fill: #B897E9; }
    g .key.keypos-41 > rect.key.held { stroke: #8147d8; stroke-width: 3;}


  
  
  '


  shrink_wide_legends: 7
  glyph_tap_size: 14
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs: {}
parse_config:
  preprocess: true
  skip_binding_parsing: false
  raw_binding_map: {
    "&fr_a_grave_lower" : "à",
    "&fr_a_grave_upper" : "À",
    "&euro_sign_lower" : "€",
    "&fr_e_acute_lower" : "é",
    "&fr_e_acute_upper" : "É",
    "&fr_e_grave_lower" : "è",
    "&fr_e_grave_upper" : "È",
    "&fr_c_cedilla_lower": "ç",
    "&fr_c_cedilla_upper": "Ç",

    "fr_ae_lower": "æ",
    "fr_ae_upper": "Æ",

    "fr_oe_lower": "œ",
    "fr_oe_upper": "Œ",

    "fr_u_grave_lower": "ù",
    "fr_u_grave_upper": "Ù",

    "&less_than" : "<",
    "&more_than" : ">",
  }
  sticky_label: sticky
  toggle_label: toggle
  trans_legend:
    t: ▽
    type: trans
  mark_alternate_layer_activators: false
  qmk_remove_keycode_prefix:
  - KC_
  qmk_keycode_map:
    XXXXXXX: ''
    'NO': ''
    MINUS: '-'
    MINS: '-'
    EQUAL: '='
    EQL: '='
    LEFT_BRACKET: '['
    LBRC: '['
    RIGHT_BRACKET: ']'
    RBRC: ']'
    BACKSLASH: \
    BSLS: \
    NONUS_HASH: '#'
    NUHS: '#'
    SEMICOLON: ;
    SCLN: ;
    QUOTE: ''''
    QUOT: ''''
    GRAVE: '`'
    GRV: '`'
    COMMA: ','
    COMM: ','
    DOT: .
    SLASH: /
    SLSH: /
    TILDE: '~'
    TILD: '~'
    EXCLAIM: '!'
    EXLM: '!'
    AT: '@'
    HASH: '#'
    DOLLAR: $
    DLR: $
    PERCENT: '%'
    PERC: '%'
    CIRCUMFLEX: ^
    CIRC: ^
    AMPERSAND: '&'
    AMPR: '&'
    ASTERISK: '*'
    ASTR: '*'
    LEFT_PAREN: (
    LPRN: (
    RIGHT_PAREN: )
    RPRN: )
    UNDERSCORE: _
    UNDS: _
    PLUS: +
    LEFT_CURLY_BRACE: '{'
    LCBR: '{'
    RIGHT_CURLY_BRACE: '}'
    RCBR: '}'
    PIPE: '|'
    COLON: ':'
    COLN: ':'
    DOUBLE_QUOTE: '"'
    DQUO: '"'
    DQT: '"'
    LEFT_ANGLE_BRACKET: <
    LABK: <
    LT: <
    RIGHT_ANGLE_BRACKET: '>'
    RABK: '>'
    GT: '>'
    QUESTION: '?'
    QUES: '?'
  zmk_remove_keycode_prefix: []
  zmk_keycode_map:
    EXCLAMATION: '!'
    EXCL: '!'
    AT_SIGN: '@'
    AT: '@'
    N2: 'é'
    N7: 'é'
    HASH: '#'
    POUND: '#'
    DOLLAR: $
    DLLR: $
    PERCENT: '%'
    PRCNT: '%'
    CARET: ^
    AMPERSAND: '&'
    AMPS: '&'
    ASTERISK: '*'
    ASTRK: '*'
    STAR: '*'
    LEFT_PARENTHESIS: (
    LPAR: (
    RIGHT_PARENTHESIS: )
    RPAR: )
    EQUAL: '='
    PLUS: +
    MINUS: '-'
    UNDERSCORE: _
    UNDER: _
    SLASH: /
    FSLH: /
    QUESTION: '?'
    QMARK: '?'
    BACKSLASH: \
    BSLH: \
    PIPE: '|'
    NON_US_BACKSLASH: \
    PIPE2: '|'
    NON_US_BSLH: '|'
    SEMICOLON: ;
    SEMI: ;
    COLON: ':'
    SINGLE_QUOTE: ''''
    SQT: ''''
    APOSTROPHE: ''''
    APOS: ''''
    DOUBLE_QUOTES: '"'
    DQT: '"'
    COMMA: ','
    LESS_THAN: <
    LT: <
    PERIOD: .
    DOT: .
    GREATER_THAN: '>'
    GT: '>'
    LEFT_BRACKET: '['
    LBKT: '['
    LEFT_BRACE: '{'
    LBRC: '{'
    RIGHT_BRACKET: ']'
    RBKT: ']'
    RIGHT_BRACE: '}'
    RBRC: '}'
    GRAVE: '`'
    TILDE: '~'
    NON_US_HASH: '#'
    NUHS: '#'
    TILDE2: '~'
    GRAVE   : '²'
    N1    : '&'
    N2    : 'é'
    N3    : '"'
    N4    : ''''
    N5    : '('
    N6    : '-'
    N7    : 'è'
    N8    : '_'
    N9    : 'ç'
    N0    : 'à'
    MINUS   : ')'
    EQUAL   : '='
    Q    : 'A'
    W    : 'Z'
    E    : 'E'
    R    : 'R'
    T    : 'T'
    Y    : 'Y'
    U    : 'U'
    I    : 'I'
    O    : 'O'
    P    : 'P'
    LBKT  : '^'
    LS(LBKT)  : '¨'
    RBKT  : '$'
    A    : 'Q'
    S    : 'S'
    D    : 'D'
    F    : 'F'
    G    : 'G'
    H    : 'H'
    J    : 'J'
    K    : 'K'
    L    : 'L'
    SEMI : 'M'
    SQT  : 'ù'
    STAR : '*'
    STAR : '<'
    LS(STAR) : '>'
    Z    : 'W'
    X    : 'X'
    C    : 'C'
    V    : 'V'
    B    : 'B'
    N    : 'N'
    M    : ','
    COMMA : ';'
    DOT   : ':'
    SLASH  : '!'
    KP_N0: '0'
    KP_N1: '1'
    KP_N2: '2'
    KP_N3: '3'
    KP_N4: '4'
    KP_N5: '5'
    KP_N6: '6'
    KP_N7: '7'
    KP_N8: '8'
    KP_N9: '9'
    KP_DOT: '.'
    KP_MINUS: '-'
    KP_PLUS: '+'
    KP_MULTIPLY: '*'
    KP_DIVIDE: '/'
    KP_EQUAL: '='
    LS(M): '?'
    LS(SQT): '%'
    RA(N4): '{'
    RA(EQUAL): '}'
    RA(N5): '['
    RA(MINUS): ']'
    RA(N3): '#'
    RA(N0): '@'
    RA(N8): '\'
    RA(N7): '`'
    RA(N6): '|'
    LS(DOT): '/'
    $euro_sign: '€'



    

  zmk_combos: {"combo_esc": {"align": "top", "offset": 0.5}}


